@font-face{
    font-family: TrajanPro-Regular;
    src: url(src/font/trajanPro/TrajanPro-Regular.ttf);
    font-family: eurostile;
    src: url(src/font/eurostile/eurostile.TTF);
}

/* ACCORDEON EXTENSIONS */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.guides.body {
    line-height: 1.5;
    font-family: "TrajanPro-Regular";
    font-weight: 300;
}

.guides h3 {
    margin-left: -20px;
    font-size: 1.2em;
    line-height: 1.2;
    font-family: eurostile;
}


.guides label {
    display: block;
    overflow: hidden;
}

.guides .title {
    padding: 1em 3em;
    position: relative;
    z-index: 599;
    background: #fbfbfb;
    border-bottom: 1px solid #eee;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.guides .title:hover {
    cursor: pointer; /*Ajoute un curseur quand on passe par dessus une checkbox*/
}

.guides .title-1:hover {
    background: #8c3ede;
}

.guides .title-2:hover {
    background: #5d2163;
}


.guides .content {
    overflow: hidden;
    position: relative;
    padding: 0;
    max-height: 0px;
    border-bottom: 1px solid #eee;
    -webkit-transition: max-height 0.3s linear;
    -moz-transition: max-height 0.3s linear;
    transition: max-height 0.3s linear;
    width: 100% !important;
    margin-bottom: 0px !important;
}

.guides .content p {
    position: relative;
    margin: 0 !important;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    transition: all 0.55s ease;
    white-space: pre-line; /* Ajoute un retour à la ligne lorsque nécessaire */
    font-size: 90%;
    font-family: "TrajanPro-Regular";
}

.guides .content p i{
    font-size: 125%;
    background: rgba(128, 124, 124, 0.868);
}

.guides .content img{
    margin-top: 1px;
}

.guides input[type=checkbox] {
    display: none;
}

.guides input#normal[type=checkbox]:checked + .title {
    background: #8c3ede;
}

.guides input#savage[type=checkbox]:checked + .title {
    background: #5d2163;
}

.guides input[type=checkbox]:checked + .title + .content {
    max-height: fit-content;
}

.guides input[type=checkbox]:checked + .title + .content p {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.normal-checkbox {
    margin-bottom: 5px;
}
.savage-checkbox {
    margin-bottom: 50px;
}

/* Contenu Guides */

/* Parvis Sadique */
    