@font-face{
    font-family: TrajanPro-Regular;
    src: url(font/trajanPro/TrajanPro-Regular.ttf);
    font-family: eurostile;
    src: url(font/eurostile/eurostile.TTF);
}

html{
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex; /* Utilisez flexbox pour organiser la mise en page */
  min-height:100%;
  position:relative;
}

.header {
  position: sticky;
  top: 0;
}

.sidebar {
  width: 20%; /* Réglez la largeur de la barre latérale à 20% */
  background-color: #f1f1f1;
  overflow: auto;
  text-align: center;
  flex-grow:0;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: rgba(214, 66, 66, 0.926);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  flex: 1; /* Utilisez flex pour que le contenu occupe l'espace restant */
  padding: 16px;
  padding-top: 1%;
  flex-grow: 3;
}

/* Ajoutez ces règles CSS pour limiter la largeur du texte sur les écrans de moins de 400px */
@media screen and (max-width: 400px) {
    .sidebar {
      width: 25%;
      position: sticky;
      top: 0;
      bottom:0;
      max-height: 660px;
      margin: 2%;
      margin-top: 3%;
      font-family: Trajan Pro;
      font-size: 13px;
      font-weight: bold;
      box-shadow: 3px 3px 10px rgba(192, 77, 77, 0.868);
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
    .sidebar a :not(:active) {
      margin-top: 10%;
    }
    .sidebar a.active {
      text-align: center;
      float: none;
    }
    .sidebar a.accueil {
        display: flex; /* Limitez la largeur du texte */
        font-size: 4vw;
        justify-content: center;
        margin-top: 20%;
    }
    .sidebar a.intro {
        display: flex; /* Limitez la largeur du texte */
        font-size: 2.8vw;
        justify-content: center;
        margin-top: 20%;
    }
    .sidebar a.child {
        margin-top: -33%;
        justify-content: center;
        font-size: 2.5vw;
    }
    .sidebar a.child2 {
        margin-top: -20%;
        justify-content: center;
        font-size: 2.5vw;
    }
    .sidebar a.intro2 {
        display: flex; /* Limitez la largeur du texte */
        font-size: 4.5vw;
        justify-content: center;
        margin-top: 15%;
    }
    .sidebar a.intro3 {
        display: flex; /* Limitez la largeur du texte */
        font-size: 3vw;
        justify-content: center;
        margin-top: -25%;
    }
  /* Header/Logo Title */
    .header {
        text-align: center;
        margin: 2%;
        margin-top: 4%;
        background:  rgb(179, 179, 178);
        color: white;
        width: 115%;
        margin-left: -9%;
        font-family: eurostile;
        font-weight: bold;
        box-shadow: 3px 3px 10px rgba(128, 124, 124, 0.868);
        position: sticky;
    }
    .xiv {
      color:rgba(214, 66, 66, 0.926);
      font-style: bolder;
      font-size: 13vw;
    }
    .header h1 {
        font-size: 10vw;
    }
    .header h2 {
        font-size: 5vw;
    }
    .header-spotify {
        display: none; /* Masque l'élément */
    }

/*Content */
.content {
  flex: 1;
  padding: 16px;
  padding-top: 1%;
  padding-bottom: 60px; /* The height of the footer */
  margin-bottom: 100px; /* Add margin to create space between content and footer */
}

  /*Footer */
    .footer {
      bottom: 0;
      position:absolute;
      font-size: 0.65em;
      width: 70%;
      margin-left: 30%;
    }  
  }

/* Ajoutez ces règles CSS pour limiter la largeur du texte sur les écrans de plus de 401px et de moins de 700px */
@media screen and (min-width: 401px) and (max-width: 700px) {
  .sidebar {
    width: 25%;
    position: sticky;
    top: 0;
    margin: 2%;
    max-height: 770px;
    margin-top: 2.2%;
    margin-bottom: -12%;
    font-family: Trajan Pro;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(192, 77, 77, 0.868);
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  .sidebar a :not(:active) {
    margin-top: 10%;
  }
  .sidebar a.active {
    text-align: center;
    float: none;
  }
  .sidebar a.accueil {
      display: flex; /* Limitez la largeur du texte */
      font-size: 4.5vw;
      justify-content: center;
      margin-top: 20%;
  }
  .sidebar a.intro {
      display: flex; /* Limitez la largeur du texte */
      font-size: 2.5vw;
      justify-content: center;
      margin-top: 20%;
  }
  .sidebar a.child {
      margin-top: -15%;
      justify-content: center;
      font-size: 2.5vw;
  }
  .sidebar a.child2 {
      margin-top: -15%;
      justify-content: center;
      font-size: 2vw;
  }
  .sidebar a.intro2 {
      display: flex; /* Limitez la largeur du texte */
      font-size: 3vw;
      justify-content: center;
      margin-top: 15%;
  }
  .sidebar a.intro3 {
      display: flex; /* Limitez la largeur du texte */
      font-size: 3vw;
      justify-content: center;
      margin-top: -15%;
  }

  .sidebar a.profil {
    display: flex; /* Limitez la largeur du texte */
    font-size: 4.5vw;
    justify-content: center;
    margin-top: -5%;
}
/* Header/Logo Title */
  .header {
      text-align: center;
      margin: 2%;
      margin-top: 2%;
      background:  rgb(179, 179, 178);
      color: white;
      width: 105%;
      margin-left: -4%;
      font-family: eurostile;
      font-weight: bold;
      box-shadow: 3px 3px 10px rgba(128, 124, 124, 0.868);
      position: sticky;
  }
  .xiv {
    color:rgba(214, 66, 66, 0.926);
    font-style: bolder;
    font-size: 8vw;
  }
  .header h1 {
      font-size: 6vw;
  }
  .header h2 {
      font-size: 3vw;
  }

/*Content */
.content {
  flex: 1;
  padding: 16px;
  padding-top: 1%;
  padding-bottom: 60px; /* The height of the footer */
  margin-bottom: 100px; /* Add margin to create space between content and footer */
}

/*Footer */
  .footer {
    bottom: 0;
    position:absolute;
    font-size: 0.65em;
    width: 60%;
    margin-left: 30%;
  }  
}

/*Écran de plus de 401px de large et de 600px de haut, et de moins de 700px de haut */
@media screen and (min-width: 401px) and (min-height:600px) and (max-height: 700px) {
  .sidebar {
    max-height: 700px;
  }
}

/*Écran de plus de 480px de large et de 600px de haut*/
@media screen and (min-width: 480px) and (max-height: 600px) {
  .sidebar {
    max-height: 500px;
  }
}

/*Écran de plus de 480px de large et de 600px de haut, et de moins de 730px de haut */
@media screen and (min-width: 540px) and (min-height: 600px) and (max-height: 730px) {
  .sidebar {
    max-height: 600px;
  }
}


/* FAIRE LA TAILLE AU DESSUS DE 700PX

COMMENCER PC ???/*
